---

---
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Fall Line - West Course</title>
  <meta name="description" CONTENT="Fall Line Golf Club West Course Heathland Sand Hills Butler Georgia Oglivy Cocking Mead">
  <link rel="stylesheet" href="/css/lite-yt-embed.css" 
  {% include headerI.html %}
</head>

<body>
	
  <H1>Fall Line - West Course</H1>
  <div class="container">
    <div class="row">
		 <div class="col-md-6 col-sm-12">
			<p>Fall Line Golf Club West Course is designed by Oglivy Cocking Mead(OCM).  The West Course is inspired by sandbelt courses in Melbourne, Australia.  Distinctive sharp bunker edges cut into green with immediate transition from putting green to the bunker edge resembling Metropolitan Golf Club in Oakleigh South, Victoria.  <a style='font-weight:bold' href='https://fescue.github.io/Fall-Line-Golf'>Fall Line Golf Club</a> is in Butler, Georgia.</p>
			<p>Fairways are TifGrand bermudagrass running firm and fast.  Greens are planted in TifEagle bermudagrass.</p>
			<p>Play from the first tee is shared with the <a style='font-weight:bold' href='https://fescue.github.io/Fall-Line-East-Course'>East Course</a>.  The West course teeground plays down the fairway on the left to a par 5 of 535 yards.</p>
			<p>Hole 2 is a drivable par 4 of 335 yards.  The greensite is an angular left to right green with a slight front to back tilt.  Hole 12 is also a drivable par 4 hole with another dramatic green.</p>
			<p>Hole 15 is a par 5 hole of 570 yards with an sandy area resembling Pine Valley Hell's Half Acre splitting the second shot from the second fairway run up to the green.</p>
			<img src="https://fescue.github.io/images/Fall-Line-West-Course-Scorecard.png" alt="Fall Line West Course Scorecard">
		 </div>
    </div>
  </div>
  {% include bodyFooter.html %}
 </BODY>	
 {% include footer.html %}
</html>
