---

---
<!DOCTYPE html>
<html lang="en">
 <head>
	<title>Molde GolfKlubb - Caspar Grauballe</title>
	<meta name="description" CONTENT="Molde GolfKlubb Caspar Grauballe Norway Golf Architecture Construction">
	{% include hLeaflet.html %}
</head>
	
<body>	
	<div class="main-container" role="main">
		<div id="map" aria-label="Romsdal"></div>
			  <div class="content" tabindex="0"  aria-label="County">
  				<H1>Molde GolfKlubb</H1>
  				<p><a style='font-weight:bold' href='http://www.moldegolf.no/' target='_blank' rel='nofollow'>Molde GolfKlubb</a> in Romsdal county, Norway is an 18 hole golf course.  Golf architect <a style='font-weight:bold' href='https://www.bycaspar.com/' target='_blank' rel='nofollow'>Caspar Grauballe</a> has proposed changes to build 3 new holes including a dramatic quarry hole.</p>
                <iframe src="https://www.linkedin.com/embed/feed/update/urn:li:ugcPost:7485425327364698112" height="961" width="504" frameborder="0" allowfullscreen="" title="Embedded post"></iframe>

  				<div id="image-container"></div>
		    </div>
		</div>
	</div>
	
  <script>
  	  	window.addEventListener('load', function() {
			var img = new Image();
			img.src = "https://fescue.github.io/images/Hope.jpg";
			img.alt = "Molde GolfKlubb";
			img.style.width = "90%";
			img.onload = function() {
				document.getElementById('image-container').appendChild(img);
			};
		});
	  
        const map = L.map('map').setView([62.7530741,7.2571587], 5);
        const tiles = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    maxZoom: 30,
                    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);

	    L.CustomOverlay = L.Layer.extend({
	            onAdd: function(map) {
	                this._map = map;
	                this._container = L.DomUtil.create('div', 'leaflet-custom-overlay');
					  
	                // Add the container to the map
	                map._panes.overlayPane.appendChild(this._container);
	                
	                // Update the position of the overlay on the map
	                this._update();
	            },
	        
	            onRemove: function(map) {
	                L.DomUtil.remove(this._container);
	            },
	        
	            _update: function() {
	                // Position the layer. This example assumes a fixed position, but you can use map latlng to position dynamically
	                // var position = this._map.latLngToLayerPoint(this._latlng || this._map.getCenter());
	                
	                    var position = this._map.containerPointToLayerPoint([10, 10]); // Adjust the position as needed
	                L.DomUtil.setPosition(this._container, position);
	            }
	    });
	
	    // Add the custom overlay to the map
	    var myCustomOverlay = new L.CustomOverlay();
	    myCustomOverlay.addTo(map);
	
  </script>
	<p><a href="https://fescue.github.io/Wild-Spring-Dunes/">Dream Golf's Wild Spring Dunes</a></p>
  {% include bodyFooter.html %}
 </body>	
 {% include footer.html %}
</html>
